#pc {
    background-image: url("../img/laptop.jpeg");
    background-repeat: no-repeat;
    background-position-x: calc(100%-20px);
    background-position-y: center;
    background-size: 100%;
    min-width: 385px;
}

#rousel {
    width: 100% !important;
    height: 100% !important;
}

#sct {
    height: 420px;
    min-width: 900px;
    display: flex;
}

#carousel {
    background-color: black;
    width: 280px;
    height: 170px;
    position: relative;
    left: 59px;
    top: 25px;
    padding: 4px;
}

#carousel img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}